alias z='zed'
alias v='nvim'
alias diff='git diff --no-index'

# git
alias g='git'
alias gs='git status --short'
alias gS='git status'
alias gd='git diff'
alias gD='git diff --staged'
alias ga='git add'
alias gA='git add --update'
alias gc='git commit'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gcom='git checkout master'
alias gp='git push'
alias gl='git log --decorate --oneline --graph'
alias gL='git log -p'
alias gt='git ls-tree -r "$(git rev-parse --abbrev-ref HEAD)" --name-only | tree --fromfile'

alias spire='kubectl exec -n spire-server spire-server-0 -- /opt/spire/bin/spire-server'
