# interactive
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'

# verbose
alias mkdir='mkdir -v'
alias rmdir='rmdir -v'

# git
alias gs='git status --short'
alias gS='git status'
alias gd='git diff'
alias gD='git diff --staged'
alias ga='git add'
alias gA='git add --update'
alias gc='git commit'
alias gp='git push'
alias gP='git push --set-upstream origin HEAD'
alias gl='git log --all --decorate --oneline --graph'
alias gL='git log -p'
alias gt='git ls-tree -r "$(git rev-parse --abbrev-ref HEAD)" --name-only'
alias gw='git worktree'

# less
alias less='less --raw-control-chars'

# diff
alias diff='git diff --no-index'


# cheat
cheat () {
    curl "cheat.sh/$1"
}

# copy pasta for ubuntu
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'

alias tf='terraform'

function tolab(){
	ssh -i /home/locmai/.ssh/id_rsa_lmlabs node0$1
}
